# Python virtual environments
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Logs
*.log

# Build files
dist/
build/

# ML / vector databases / generated data
chroma_db/
*.pkl
*.pickle

Backend/uploads/
Backend/chroma_db/